/* AboutSection.css */
.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1s forwards;
}

.slide-in {
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn ease-out 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .fade-in {
    animation: fadeIn ease-in 0.5s forwards;
  }

  .slide-in {
    animation: slideIn ease-out 0.5s forwards;
  }
}